<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>Nombre</strong></td>
  			<td><strong>Cedula</strong></td>
  			<td><strong>Observacion</strong></td>
		</tr>

		<tr>
  			<td>Douglas Bauza</td>
  			<td>23.710.712</td>
  			<td>Alumno del curso git de la UBV </td>
		</tr>
	</table>
</body>
